name: Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Metrics embed
        uses: lowlighter/metrics@v3.34
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # 基础信息（一定要有）
          user: Sirens007
          template: classic
          base: header, activity, community

          # 等距提交日历（好看且直观）
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
